.viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;

  background: var(--clr-surface-a0);
  overscroll-behavior: none;
  position: relative;
}

.notRequired > .canvas {
  filter: blur(20px);
}

.notRequiredContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notRequiredText {
  color: var(--clr-light-a0);
  z-index: 1;
}

.canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
}

.canvas.unlocked {
  cursor: grab;
}

.canvas.unlocked:active {
  cursor: grabbing;
}

.canvas img {
  image-rendering: pixelated;
}
